/*------------------------*/
/*-----NAVBAR CONTENT-----*/
/*------------------------*/

/*Navbar - width*/
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
/*Navbar - colour*/
.navbar-default {
    background-color: #28484e;
    border-color: #3d5c62;
}

/*Navbar - title position*/
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 5px;
    color: white;
}

/*Navbar tabs - button colour*/
.navbar-default .navbar-nav>li>a {
    color: rgb(221, 221, 221);
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #3d5c62;
    border-color: #3d5c62;
}

/*--------------------------*/
/*-----TAB BODY CONTENT-----*/
/*--------------------------*/

/*div body padding*/
.tab-content>.active {
    padding-right: 15px;
    padding-left: 15px;
}

/*tabsetPanel border colour*/
.nav-tabs  {
    border-bottom: 0px solid rgba(221, 221, 221, 0);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 0px solid rgba(221, 221, 221, 0);
}

/*-----------------------*/
/*-----TABLE CONTENT-----*/
/*-----------------------*/

/*Table header colours*/
tr {
    background-color: #28484e;
}

.popup {
    background-color: #b8cdd1;
}

table.dataTable thead th, table.dataTable tfoot th {
    color: white;
}

.progress-bar-custom {background-color: #00FF00; color: black;}

.marker-custom-small {
    background-color: rgba(220,220,220, 1);
      }
  .marker-customr-small div {
      background-color: rgba(128,128,128, 1);
      }

  .marker-custom-medium {
      background-color: rgba(220,220,220, 1);
      }
  .marker-custom-medium div {
      background-color: rgba(105,105,105, 1);
      }

  .marker-custom-large {
      background-color: rgba(220,220,220, 1);
      }
  .marker-custom-large div {
      background-color: rgba(119,136,153, 1);
  }