/*##### MAP TAB #####*/

/*------------------------*/
/*-----NAVBAR CONTENT-----*/
/*------------------------*/

/*Navbar - width*/
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
/*Navbar - colour*/
.navbar-default {
    background-color: #28484e;
    border-color: #2f5258;
    margin-bottom: 0px;
    box-shadow: 0 2px 20px rgba(0,0,0,.3);
}

/*Navbar - title*/
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 5px;
    color: white;
    font-size: 25px;
}

/*Navbar tabs - button and text colour*/
.navbar-default .navbar-nav>li>a {
    color: rgb(221, 221, 221);
    font-size: 18px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #3d5c62;
    border-color: #3d5c62;
}

/*--------------------------*/
/*-----TAB BODY CONTENT-----*/
/*--------------------------*/

/*div body padding*/
.tab-content>.active {
    padding-right: 0px;
    padding-left: 0px;
}

/*tabsetPanel border colour*/
.nav-tabs  {
    border-bottom: 0px solid rgba(221, 221, 221, 0);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 0px solid rgba(221, 221, 221, 0);
}

/*-----------------------*/
/*-----TABLE CONTENT-----*/
/*-----------------------*/

/*Table header colours*/
th {
    background-color: #28484e;
    color: white;
    text-align: center;
}

tr {
    background-color: #f0eded;
}

table.dataTable thead th, table.dataTable tfoot th {
    color: white;
    text-align: center;
}

/*table pagination*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #3d5c62;
    border-color: #3d5c62;
}
.pagination>li>a, .pagination>li>span {
    color: #28484e;
}

/*crosshairs*/
.fa {
    color:#28484e;
}

/*datatable cell text align*/
td {
    text-align: center;
}

#mytable, #mytable2 {
    margin-top: -25px;
}

.dataTables_scrollBody {
    background-color: white;
}

/*----------------------*/
/*---NAV TABS STYLING---*/
/*----------------------*/

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
    padding: 0px;
    border-radius: 0px 0px 0 0;
    margin-right: 0px;
}

/*----------------------*/
/*---SELECTOR STYLING---*/
/*----------------------*/

/*Rows*/
#row1 {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #3d5c62;
    box-shadow: 0 2px 20px rgba(0, 0, 0,.3);
}

#row2 {
    margin-right: 0px;
    margin-left: 0px;
}

/*Selector containers*/
.form-group {
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
    margin-bottom: 0px;
    border-right: 1px solid #576f74; 
}

.selectize-control {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

div.box-body .shiny-input-container {
    width: 100%;
}


/*Barrier selector input*/
.selectize-control.multi .selectize-input.has-items {
    height: max-content;
}

/* selector labels*/
label#variable-label.control-label, label#priority-label.control-label, label#options-label.control-label {
    color: white;
    font-weight: normal;
    font-size: 16px;
}

.progress-bar-custom {
    background-color: #0a6e0a; 
    color: rgb(255, 253, 253); 
    font-size: larger;
}

.marker-custom-small {
    background-color: rgba(220,220,220, 1);
    color: white;
      }
  .marker-customr-small div {
      background-color: rgba(128,128,128, 1);
      }

  .marker-custom-medium {
      background-color: rgba(220,220,220, 1);
      color: white;
      }
  .marker-custom-medium div {
      background-color: rgba(105,105,105, 1);
      }

  .marker-custom-large {
      background-color: rgba(220,220,220, 1);
      color: white;
      }
  .marker-custom-large div {
      background-color: rgba(119,136,153, 1);
  }

/*selector input boxes*/
.selectize-input {
    border: 1px solid transparent;
    padding: 6px 12px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 0px;
}

#options {
    z-index:1000;
}

/*selector container boxes*/
.shiny-input-container:not(.shiny-input-container-inline) {
    background-color:#3d5c62;
}

.selectize-control.multi .selectize-input.has-items {
    padding-left: 9px;
    padding-right: 9px;
}

/*active input box background colour*/
.selectize-input, selectize-control.single .selectize-input.input-active {
    background-color:#576f74!important;
}

/*active input box highlight*/
.selectize-input.focus {
    border-color: rgba(255, 255, 255, 0.788);
    box-shadow: inset 0 1px 1px, rgba (0,0,0,0.75), 0 0 8px rgba(255, 255, 255, 0.788);
    border-radius: 0px;
}

/*drop down chevron*/
.selectize-control.single .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 17px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
}
.selectize-control.single .selectize-input.dropdown-active:after {
    margin-top: -4px;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent white transparent;
}
.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input, .selectize-control.single .selectize-input.input-active, .selectize-control.single .selectize-input.input-active input {
    color: white;
}

table.dataTable thead > tr > th.sorting::before, table.dataTable thead > tr > th.sorting_asc::before, table.dataTable thead > tr > th.sorting_desc::before, table.dataTable thead > tr > th.sorting_asc_disabled::before, table.dataTable thead > tr > th.sorting_desc_disabled::before, table.dataTable thead > tr > td.sorting::before, table.dataTable thead > tr > td.sorting_asc::before, table.dataTable thead > tr > td.sorting_desc::before, table.dataTable thead > tr > td.sorting_asc_disabled::before, table.dataTable thead > tr > td.sorting_desc_disabled::before {
    border-color: #fff transparent transparent transparent;
}

/*---------------------*/
/*-----LEAFLET MAP-----*/
/*---------------------*/

#mymap {
    height: calc(100vh - 200px) !important;
    margin-top: -25px;
    z-index:0;
}

#mymap2 {
    height: calc(100vh - 700px) !important;
    margin-top: -25px;
    z-index:0;
}
/*Popup table background colour*/
.popup {
    background-color:rgb(241, 241, 241);
    color: black;
    border: 1px solid;
    padding: 3px;
}

th {
    text-align: left;
}

/*---------------------*/
/*------STATS TAB------*/
/*---------------------*/

/*Tab background*/
.tab-content>.tab-pane {
    background-color: rgb(216, 216, 216);
}
/*Progress bar*/
.progress {
    background-color: #aaaaaa;
    box-shadow: 0 2px 20px rgba(0,0,0,.3);
    margin-bottom: 5px;
}

.progress-group .progress-text {
    font-weight: 600;
    font-size: larger;
    padding-bottom: 5px;
}

.progress-number {
    position: relative;
    right: unset;
}

/*Rows*/
.row {
    margin: 10px;
}


p, li {
    font-size:17px;
}
/*Content boxes*/
.box{
    margin-bottom: 15px;
}

.box.box-solid {
    box-shadow: 0 2px 20px rgba(0, 0, 0,.3);
}

.box-header.with-border {
    border-bottom: 0px solid #28484e;
}

.box-header {
    background-color: #28484e;
    color: white;
    border-radius: 4px;
    display: block;
    text-align: center;
    margin-top: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    box-shadow: 0 2px 20px rgba(0,0,0,.3);
}

#constatus .box-header {
    box-shadow: 0 2px 20px rgba(0,0,0,.3);
}

.box-header .box-title, .box-header>.fa, .box-header>.glyphicon, .box-header>.ion {
    display:block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 25px;
}

#expanders .box-title {
    font-size: 17px;
}

#expanders .box-header {
    background-color: #3d5c62;
}

#speciesrow .col-sm-6 {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}

/*Info boxes*/
.info-box {
    display: inline-block;
    /*box-shadow: 0 2px 20px rgba(0, 0, 0,.3);*/
    margin-top: 10px;
}

.info-box-text {
    font-size: 17px;
    white-space: normal;
    text-overflow: unset;
    text-transform: none;    
}

.info-box-number {
    font-weight: bolder;
    font-size: 20px;
}

.col-sm-4 {
    width: 100%;
    padding: 0;
}

.col-sm-3, .col-sm-6, .col-sm-12 {
    padding-right: 5px;
    padding-left: 5px;
}


.alert-info, .bg-aqua, .callout.callout-info, .label-info, .modal-info .modal-body {
    background-color: #3d5c62!important;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #576f74;
    text-decoration: none;
}

/*Value boxes*/

.small-box h3 {
    font-size: 30px;
    text-align: left;
}
.small-box p {
    font-size: 17px; 
    text-align: left;
    padding-right: 20px;
}

#threat.shiny-html-output.shiny-bound-output {
    width:240%;
    z-index: -1000;
}

/*sidebarPanel box*/
.sidebar1 form.well {
    min-height: 20px;
    padding: 19px;
    margin: 20px;
    background-color: transparent;
    border: 0px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.5);
    box-shadow: 0 2px 20px rgba(0,0,0,.3);
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 5px; 
    background-color: transparent;
    border: 0px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 2px 20px rgba(0,0,0,.3);
}

.barrierselect .shiny-input-container:not(.shiny-input-container-inline) {
    background-color: #0cde0f;
}

.selectize-dropdown, .selectize-dropdown.form-control {
    z-index:1000;
}

#pass_title {
    text-align: center;
}
/*----------------------*/
/*----EXTRA INFO TAB----*/
/*----------------------*/

.paras {
    padding:40px;
}

#dict .shiny-table.spacing-s>tbody>tr>td, #pdict .shiny-table.spacing-s>tbody>tr>td, #tableawk .shiny-table.spacing-s>tbody>tr>td {
    text-align:left;
}

#goal-bar {
    width: 100%; height: 50px;
    margin-top: -10px;
    z-index: -1;
    background: linear-gradient(to right, rgb(255, 255, 255) 96%, rgb(0, 0, 0) 96%, rgb(0, 0, 0) 96.1%, rgb(255, 255, 255) 96.1%, rgb(255, 255, 255) 100%);
}

#colorstrip-constatus{
    width: 100%; height: 10px;
    border-style: solid;
    border: 0px  white;
    background: linear-gradient(to right, rgb(224, 0, 0) 80%, rgb(128, 187, 0) 80%, rgb(128, 187, 0) 90%, rgb(0, 128, 0) 90%, rgba(0, 128, 0) 96%, rgb(0, 0, 0) 96%, rgb(0, 0, 0) 96.1%, rgb(0, 128, 0) 96.1%, rgba(0, 128, 0) 100%);
}
#constatus-strip-text {
    width: 100%; height: 10px;
}

#poor-text, #good-text, #verygood-text{
    display:inline-block;
    text-align: center;
    font-style:italic;
    font-size: 13px;
}

#goal-text{
    display:inline-block;
    text-align: center;
    font-weight:bold;
    font-size: 16px;
}

#poor-text {
    width: 80%;
}

#good-text {
    width: 10%;
}

#verygood-text {
    width: 9%;
    padding: 1px;
    background-color: #fff;
}

#goal-text {
    width:192.5%;
}

/*Target species box buttons*/
.box-header>.box-tools {
    width: 100%;
    padding-left: 3%;
}

.box.box-solid>.box-header>.box-tools .btn {
    border: 0;
    box-shadow: none;
    width: 100%;
}

.box.box-solid>.box-header .btn:hover, .box.box-solid>.box-header a:hover {
    background: none;
}

i.fas.fa-plus, i.fas.fa-minus {
    float: right;
    padding-top: 4px;
    color:white;
}

.box-body {
    font-size: 17px;
}
